// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-size: 15px;
}

.space-btm { margin-bottom: 30px; }
.space-top { margin-top: 30px; }

.ui-btn-text span { font-weight: 300 }
.ui-field-contain, fieldset.ui-field-contain {
  padding: 1em 0;
  border: none;
}

.devise_sessions_new a[data-rel="back"],
.challenges_index a[data-rel="back"] { display: none }

.time-selector .ui-btn {
  width: 47%;
  float: left;
  font-size: 150%;
}
.time-selector .separator {
  float: left;
  margin-top: 18px;
}
.field {
  overflow: hidden
}