// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-size: 15px;
}

.space-btm { margin-bottom: 30px; }
.space-top { margin-top: 30px; }

.ui-btn-text span { font-weight: 300 }

.devise_sessions_new a[data-rel="back"] { display: none }